<div class="row">
    <div *ngFor="let c of categorias" class="col scale-transition s12 m4 item-lista">
        <a [routerLink]="['/categorie', c.id]">
            <div class="card-panel teal">
                <span class="card-title white-text">{{c.name}}</span>
            </div>
        </a>
        <a (click)="excluir(c.id)" class="btn-close" title="Excluir item">
            <i class="material-icons white-text">close</i>
        </a>
    </div>
</div>

<app-form formType="categoria"></app-form>