<div class="row">
    <h1>Lista: {{lista.name}}</h1>
</div>

<div class="row">
    <span class="card-title black-text"><strong>Id:</strong> {{lista.id}}</span>
    <br/><span class="card-title black-text"><strong>Nome:</strong> {{lista.name}}</span>
</div>

<app-listagem-item></app-listagem-item>