<div class="row">
    <h1>Categoria: {{categoria.name}}</h1>
</div>

<div class="row">
    <span class="card-title black-text"><strong>Id:</strong> {{categoria.id}}</span>
    <br/><span class="card-title black-text"><strong>Nome:</strong> {{categoria.name}}</span>
</div>

<app-listagem-list></app-listagem-list>