<div class="row">
    <h5>Lista de items: </h5>
</div>
<div class="row">
    <a [routerLink]="['/categorie', items.itemId, 'lists', items.id]" *ngFor="let items" class="col scale-transition s12 m4">
        <div class="card-panel teal">
            <span class="card-title white-text">{{items.name}}</span>
        </div>
    </a>
</div>